<section class="border-2 border-black-200">
    <img src="../img/logo.jpg" alt="B-Welfare">
    <img src="../img/profile-user.png" alt="perfil">
    <a target="_blank" (click)="navegarALogin()">Moverme a Login</a>
    <a target="_blank" (click)="navegarARecursos()" class="block">Recursos</a>
    <a target="_blank" (click)="navegarAdminEmployees()" class="block">Admin Employees</a>
</section>
<div>
    <section class="border-2 border-black">
        <h2>Bienestar laboral</h2>
        <article>
            El bienestar laboral es un conjunto de políticas, <br>
            prácticas y condiciones que buscan mejorar la calidad de vida de los empleados dentro de una empresa. <br>
            Este concepto se basa en la idea de que un ambiente de trabajo saludable y favorable contribuye directamente a la satisfacción, <br>
            motivación y productividad de los empleados, lo cual también impacta positivamente en los resultados de la empresa.
        </article>
        <img src="" alt="">
    </section>
    <br>
    <section class="border-2 border-black">
        <h2>Gestion Laboral</h2>
        <article>
            El bienestar laboral es un conjunto de políticas, <br>
            prácticas y condiciones que buscan mejorar la calidad de vida de los empleados dentro de una empresa. <br>
            Este concepto se basa en la idea de que un ambiente de trabajo saludable y favorable contribuye directamente a la satisfacción, <br>
            motivación y productividad de los empleados, lo cual también impacta positivamente en los resultados de la empresa.
        </article>
        <img src="" alt="">
    </section>
</div>
<br>
<footer class="border-2 border-black">
    <h1>Pie de pagina pensar</h1>
</footer>
<br>
