<div class=" border-2 border-orange-600">
    
    <img class="mx-5 my-5" src="../img/logo.jpg" alt="B-Welfare">
    
    <div class="border-2 border-blue-800 mx-5 my-5">
        <h1 class="">Iniciar Sesion</h1>
        
        <form class="border-2 border-yellow-800 mx-5 my-5" action="">
            <input type="email" placeholder="Correo Empresarial">
            <input type="password" placeholder="Contraseña">
            <button type="submit">Iniciar</button>
        </form>
        
    </div>
    
    <p>Soy cuenta de empresa</p>
</div>
<br>
