<div class="border-2 border-orange-600 ">
    
    <img class="mx-5 my-5" src="../img/logo.jpg" alt="B-Welfare">
    
    <div class="mx-5 my-5 border-2 border-blue-800">
        <h1 class="">Iniciar Sesion</h1>
        
        <form class="mx-5 my-5 border-2 border-yellow-800" action="">
            <input type="email" placeholder="Correo ">
            <input type="password" placeholder="Contraseña">
            <button type="submit">Iniciar</button>
        </form>
        
    </div>
    
    <p>Soy cuenta de usuario</p>
</div>
<a target="_blank" (click)="navegarALogin()">moverme a main</a>
<br>
